{% extends "web/base.html" %}
{% block content %}
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">Say nothing but show me your <br> <strong>Source Code</strong>.</h1>
              <!-- The answer is {{ answer }} -->
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
                            <input type="text" class="form-control" placeholder="找到线索，填入答案，获取下一步线索..." name="answer">
                        </div>
                    </div>
                    {% if error %}
                        <p>再看看，检查检查...</p>
                    {% endif %}
                    <p class="lead">
                        <button type="submit" href="#" class="btn btn-lg btn-default">提交答案</button>
                    </p
                </form>
          </div>
        </div>
      </div>
    </div>
 {% endblock %}