{% extends "web/base.html" %}
{% block content %}
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">Get 不到点 <br> 那就试试 <strong>Post</strong></h1>
            <form action="/web/3" method="post" enctype="multipart/form-data">
            </form>
          </div>
           <div class="mastfoot">
               <div class="inner">
                    <p>没有思路？可以试试<a href="/web/3?subtitle=2">另一题</a>~</p>
                </div>
            </div>
        </div>

      </div>

    </div>
{% endblock %}