{% extends "web/base.html" %}
{% block content %}
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
              <h1 class="cover-heading">线索往往隐匿于<br>加载的<strong>函数</strong>之中 </h1>
          </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>没有思路？可以试试<a href="/web/3">另一题</a>~</p>
                </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}