{% extends "web/base.html" %}
{% block content %}
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">计算机厉害的地方</br>在于能在数字中完成</br><strong>暴力的运算</strong></h1>
              <form action="/final?code=xxxx" method="get">
                  <p style="display:none">留意返回的内容,错误code返回400,正确则为200.</p>
              </form>
          </div>
        </div>
      </div>
    </div>
 {% endblock %}